*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
sterling_square/media/*
sterling_square/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
sterling_square/locale/*
*.csv#
venv/*
.vscode/launch.json
.vscode/settings.json
celerybeat-schedule
venv2
*.out
*.env
/stock_react_api/core/migrations/
/stock_react_api/kiteconnectapp/migrations/
