{% extends 'base_dashboard.html' %}
{% load static %}
{% block content %}
<!-- socket io js file for client side socket connection -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
<style>
    path.domain  {
    stroke: #efefef;
}
   .tick text {
    fill:#efefef;
}
  @media (max-width: 768px) {
      .carousel-inner .carousel-item > div {
          display: none;
      }
      .carousel-inner .carousel-item > div:first-child {
          display: block;
      }
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
      display: flex;
  }

  /* display 3 */
  @media (min-width: 768px) {

      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
      }

      .carousel-inner .carousel-item-left.active,
      .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
      }
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{
    transform: translateX(0);
  }




</style>
<!-- <link rel="stylesheet" href="style.css" > -->
<!-- socket io js file end -->

<div class="container no-fluid">
    <div class="row sm-gutters">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-md-8 padding-right-30">

            <!-- New Live Chart start -->
            <div class="col-md-12">
                <div class="col-md-12" style="padding: 20px 0 0 0; ">
                    <label id="symbol"
                           style="margin-bottom: 0;line-height: 0;
                           font-size: 35px; font-weight: 800; color: #fff;">{{symbol}}</label>
                    <br><br>
                    <label id="symbol_price"
                           style="margin-bottom: 0;line-height: 1; font-size: 35px; font-weight: 800; color: #fff; display: none;">
                        &#8377;200.25
                    </label>

                </div>
                {% include 'includes/dashboard_includes/position-table-details.html' %}
                {% include 'includes/dashboard_includes/line-chart-main.html' %}

                {% if share_total %}
                <div id="liveChart" class="label-text">
                    <div class="row">
                        <div class="col">
                            <div class="custom-card p-2">
                                <div class="card-body">
                                    Your Market Value
                                    <div class="label-text-bold-large" id="market_value">&#8211</div>
                                    <div class="row mt-2">
                                        <div class="col">Cost</div>
                                        <div class="col label-text-right" id="cost"></div>
                                    </div>
                                    <!--<hr style="background-color: #fff">-->
                                    <div class="row mt-2">
                                        <div class="col-5 padding-right-7">Today's Return</div>
                                        <div class="col-7 label-text-right padding-left-7" id="today_return"></div>
                                    </div>
                                    <!--<hr style="background-color: #fff">-->
                                    <div class="row mt-1">
                                        <div class="col-5 padding-right-7">Total Return</div>
                                        <div class="col-7 label-text-right padding-left-7" id="total_return"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-card p-2">
                                <div class="card-body">
                                    Your Average Cost
                                    <div class="label-text-bold-large" id="avg_cost">&#8211</div>
                                    <div class="row mt-2">
                                        <div class="col padding-right-7">Shares</div>
                                        <div class="col label-text-right padding-left-7" id="share_count"></div>
                                    </div>
                                    <!--<hr style="background-color: #fff">-->
                                    <div class="row mt-1">
                                        <div class="col padding-right-7">Portfolio Diversity</div>
                                        <div class="col label-text-right padding-left-7" id="portfolio_diversity"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- New Live Chart end -->
            </div>

            <hr class="mt-4" style="background-color: #fff">
            <div class="row">
                <div class="col-sm-10">
                    <label class="graph-title">About</label>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label class="label-text show-more-content"></label>
                </div>
            </div>
            <hr style="background-color: #fff">

            {% include 'includes/dashboard_includes/company_info.html' %}
            <br>
            {% comment %}
            <br>
            <br>
            <br>
            <br>
            {% endcomment %}

            <div id="upcoming_wrapper" style="display: none;">
                {% include 'includes/dashboard_includes/upcoming_activity.html' %}
            </div>

            {% include 'includes/dashboard_includes/scatter-plot-chart-main.html' %}
            <br>
            {% comment %}
            <br>
            <br>
            {% endcomment %}
            {% comment %}
            <div class="top-g-con">
                <h4 style="color: #fff;margin-bottom: 24px;">Most Active</h4>
                <hr style="background-color: #fff">
                <div class="container text-center my-3">
                    <div class="row mx-auto my-auto">
                        <div id="recipeCarousel" class="carousel slide w-100"
                             data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                {% for top_stock in top_gainers %}
                                <div class="carousel-item">
                                    <div class="col-md-3 col-sm-2 top-stocks">
                                        <div class="markets-capital-item">
                                            <h6>

                                                    <span>
                                                        <p class="s-result name_id">
                                                            {{top_stock.symbol}}
                                                        </p>
                                                    </span>
                                            </h6>
                                            <div class="markets-capital-details">
                                                <h6 class="s-ltp">
                                                    ₹{{top_stock.ltp}}</h6>
                                                <h5 class="green">
                                                    {{top_stock.netPrice}}% <i
                                                        class="icon ion-md-arrow-up"></i>
                                                </h5>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev w-auto"
                               href="#recipeCarousel" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next w-auto"
                               href="#recipeCarousel" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}

            {% include 'includes/dashboard_includes/most_active.html'%}
        </div>
        <div class="col-md-4 padding-left-30">
            <div class="fixed-sidebar">
                {% include 'includes/dashboard_includes/stock_market_settings.html'%}
                {% include 'includes/dashboard_includes/watchlist_and_shares.html' %}
            </div>
        </div>


    </div>

</div>


{% endblock %}
