{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static '/authenticate/signup/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/authenticate/signup/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form signup-form validate-form">
					{% csrf_token %}
					<input type="hidden" class="view-state" value="1">

					<div class="show-section1" style="">
						<span class="login100-form-title p-b-43">
						Create your account
					</span>
						{% include 'includes/signup-section1-creds.html' %}
					</div>
					<div class="show-section2" style="display:none">
						<span class="login100-form-title p-b-43">
						Basic Info
					</span>
						{% include 'includes/signup-section2-basic_info.html' %}
					</div>
					<div class="show-section3" style="display:none">
						<span class="login100-form-title p-b-43">
						Verify Your Identity
					</span>
						{% include 'includes/signup-section3-identity.html' %}
					</div>
					<div class="show-section4" style="display:none">
						<span class="login100-form-title p-b-43">
						Fund Your Account
					</span>
						{% include 'includes/signup-section4-bank_account.html' %}
					</div>
					<!--<div class="flex-sb-m w-full p-t-3 p-b-32">-->
						<!--<div class="contact100-form-checkbox">-->
							<!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
							<!--<label class="label-checkbox100" for="ckb1">-->
								<!--Remember me-->
							<!--</label>-->
						<!--</div>-->

						<!--<div>-->
							<!--<a href="#" class="txt1">-->
								<!--Forgot Password?-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>-->


					<div class="container-login100-form-btn">
						<button class="login100-form-btn btn-signup">
							Continue
						</button>
					</div>

					<!--<div class="text-center p-t-46 p-b-20">-->
						<!--<span class="txt2">-->
							<!--or sign up using-->
						<!--</span>-->
					<!--</div>-->

					<!--<div class="login100-form-social flex-c-m">-->
						<!--<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
							<!--<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
						<!--</a>-->

						<!--<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
							<!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
						<!--</a>-->
					<!--</div>-->
				</form>

				<div class="login100-more" style="background-image: url('{% static 'authenticate/signup/images/bg-01.jpg' %}');">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/authenticate/signup/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/authenticate/signup/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/authenticate/signup/js/main.js' %}"></script>

	<!-- signup jquery file -->
<script>
	{% include 'signup-scripts.html' %}
</script>
</body>
</html>